<a href="https://colab.research.google.com/github/varshithav-nri/Introductiontopandas/blob/main/Working_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
datasetPath = '/content/retail_transactions.csv'

In [ ]:
import pandas as pd

In [ ]:
#	1.	Data Loading & Parsing:
df = pd.read_csv(datasetPath)
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [ ]:
from datetime import datetime

In [ ]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df['TransactionDate']

0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
        ...
95   2024-04-05
96   2024-04-06
97   2024-04-07
98   2024-04-08
99   2024-04-09
Name: TransactionDate, Length: 100, dtype: datetime64[ns]

In [ ]:
#2.	Initial Data Exploration:
df.columns

Index(['TransactionID', 'TransactionDate', 'StoreID', 'CustomerID',
       'ProductID', 'ProductCategory', 'Quantity', 'Price', 'PaymentType',
       'Discount'],
      dtype='object')

In [ ]:
#15rowspending

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    100 non-null    object
 1   TransactionDate  100 non-null    datetime64[ns]
 2   StoreID          100 non-null    int64
 3   CustomerID       100 non-null    int64
 4   ProductID        100 non-null    int64
 5   ProductCategory  100 non-null    object
 6   Quantity         100 non-null    int64
 7   Price            100 non-null    int64
 8   PaymentType      100 non-null    object
 9   Discount         75 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 7.9+ KB

In [ ]:
df.describe()

,TransactionDate,StoreID,CustomerID,ProductID,Quantity,Price,Discount
count,100,100.000000,100.000000,100.000000,100.000000,100.00000,75.000000
mean,2024-02-19 12:00:00,102.730000,1552.520000,554.390000,5.370000,282.15000,7.733333
min,2024-01-01 00:00:00,101.000000,1013.000000,501.000000,1.000000,50.00000,0.000000
25%,2024-01-25 18:00:00,101.000000,1310.250000,529.750000,3.000000,165.75000,2.500000
50%,2024-02-19 12:00:00,103.000000,1534.000000,554.000000,5.500000,280.00000,10.000000
75%,2024-03-15 06:00:00,104.000000,1800.750000,579.500000,8.000000,415.25000,12.500000
max,2024-04-09 00:00:00,105.000000,1983.000000,600.000000,10.000000,500.00000,15.000000
std,NaN,1.384291,268.295461,28.544098,3.013957,140.19938,5.652871

In [ ]:
#4. newcolumn= netprice
df['Discountinrupees'] = df['Price'] * df['Discount']//100
df['NetPrice'] = df['Price'] - df['Discountinrupees']
df['TotalSale'] = df['NetPrice'] * df['Quantity']
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount,Discountinrupees,NetPrice,TotalSale
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0,22.0,128.0,128.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0,31.0,286.0,572.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN,NaN,NaN,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0,49.0,447.0,2682.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0,0.0,166.0,1660.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0,43.0,396.0,792.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0,0.0,52.0,208.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0,15.0,136.0,952.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0,47.0,432.0,2160.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0,37.0,210.0,1050.0

In [ ]:
#	5.	Data Filtering:
filter1= df['TotalSale']>=20
filter1

0      True
1      True
2     False
3      True
4      True
      ...
95     True
96     True
97     True
98     True
99     True
Name: TotalSale, Length: 100, dtype: bool

In [ ]:
df[filter1]

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount,Discountinrupees,NetPrice,TotalSale
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0,22.0,128.0,128.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0,31.0,286.0,572.0
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0,49.0,447.0,2682.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0,0.0,166.0,1660.0
7,T008,2024-01-08,101,1806,569,Toys,4,500,Debit,0.0,0.0,500.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0,43.0,396.0,792.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0,0.0,52.0,208.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0,15.0,136.0,952.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0,47.0,432.0,2160.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0,37.0,210.0,1050.0

In [ ]:
	#6.	Data Type Conversion:
df['PaymentType']=df['PaymentType'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TransactionID     100 non-null    object
 1   TransactionDate   100 non-null    datetime64[ns]
 2   StoreID           100 non-null    int64
 3   CustomerID        100 non-null    int64
 4   ProductID         100 non-null    int64
 5   ProductCategory   100 non-null    object
 6   Quantity          100 non-null    int64
 7   Price             100 non-null    int64
 8   PaymentType       100 non-null    category
 9   Discount          75 non-null     float64
 10  Discountinrupees  75 non-null     float64
 11  NetPrice          75 non-null     float64
 12  TotalSale         75 non-null     float64
dtypes: category(1), datetime64[ns](1), float64(4), int64(5), object(2)
memory usage: 9.7+ KB

In [ ]:
df['TotalSale'].sum()

100193.0

In [53]:
df['ProductCategory'].mode()

0    Furniture
Name: ProductCategory, dtype: object

In [ ]:
df['TotalSale'].mean()

1335.9066666666668

In [44]:
filter1= df['TotalSale']> 200
filter1

0     False
1      True
2     False
3      True
4      True
      ...
95     True
96     True
97     True
98     True
99     True
Name: TotalSale, Length: 100, dtype: bool

In [55]:
df[filter1]

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount,Discountinrupees,NetPrice,TotalSale
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0,31.0,286.0,572.0
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0,49.0,447.0,2682.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0,0.0,166.0,1660.0
7,T008,2024-01-08,101,1806,569,Toys,4,500,Debit,0.0,0.0,500.0,2000.0
8,T009,2024-01-09,101,1925,548,Apparel,7,217,Cash,10.0,21.0,196.0,1372.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0,43.0,396.0,792.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0,0.0,52.0,208.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0,15.0,136.0,952.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0,47.0,432.0,2160.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0,37.0,210.0,1050.0

In [45]:
spending=df.groupby('CustomerID')['TotalSale'].sum()
spending

CustomerID
1013       0.0
1082       0.0
1135     157.0
1161    2664.0
1169    1480.0
         ...
1950    2259.0
1954     981.0
1978    1764.0
1980       0.0
1983       0.0
Name: TotalSale, Length: 93, dtype: float64

In [54]:
top3 = spending.sort_values(ascending=False).nlargest(3)
top3

CustomerID
1312    3816.0
1897    3730.0
1245    3553.0
Name: TotalSale, dtype: float64